{% assign altres-dades = site.data.data.altres-dades %}
{% if altres-dades %}
  {% if site.data.data.sidebar.altres-dades %}
  <div class="altres-dades-container container-block">

    <h2 class="container-block-title">
      {{ altres-dades.title }}
    </h2>

    <ul class="list-unstyled altres-dades-list">
      {% for altres-dades in altres-dades.info %}

        {% if altres-dades.link %}
        <li><a href="{{ altres-dades.link }}">{{ altres-dades.item }}</a></li>
        {% else %}
        <li>{{ altres-dades.item }}</li>
        {% endif %}

      {% endfor %}
    </ul>

  </div><!--//altres-dades-->
{% endif %}
